body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ecf0f1;
}

.navbar {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

.event-card {
  width: 200px;
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(25% - 40px);
}

.events-heading {
  color: #212629; 
  margin: 85px 0 0 20px;
}

.filter-form {
  margin: 20px 20px 0 -20px;
}

.login-form {
  margin: 150px auto 0 auto;
  max-width: 850px;
}

.container-xs {
  background-color: #ecf0f1;
}

.login-card {
  padding: 50px 100px;
}