/*----------------------------------------------------------*
 * Name: index.css
 * Description: Main Custom Style Sheet for Application
 * Author: Rohan Ravindran
 *----------------------------------------------------------*/

/*----------------------------------------------------------*/
/* GLOBAL */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #ecf0f1;
}

/*----------------------------------------------------------*/
/* CUSTOM CONTAINERS */

.contain {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ecf0f1;
  padding-bottom: 4.5rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

/*----------------------------------------------------------*/
/* NAVBAR */

.navbar {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

/*----------------------------------------------------------*/
/* HOME PAGE (EVENT CARDS) */

.event-card {
  width: 200px;
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(25% - 40px);
}

.events-heading {
  color: #212629; 
  margin: 85px 0 0 20px;
}

.filter-form {
  margin: 20px 20px 0 -20px;
}

/*----------------------------------------------------------*/
/* LOGIN FORM */

.login-form {
  margin: 150px auto 0 auto;
  max-width: 850px;
}

.container-xs {
  background-color: #ecf0f1;
}

.login-card {
  padding: 50px 100px;
}

/*----------------------------------------------------------*/
/*FOOTER*/
.footer {
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
  background-color: #f8f9fa;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer-nav {
  float: left;
  list-style: none;
  padding: 30px 0 0 100px;
}

.social-links {
  float: right;
  list-style: none;
  padding: 30px 100px 0 0;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-text {
  margin: 5px auto 30px auto;
}

.footer-nav {
  float: left;
  list-style: none;
}

.footer ul {
  margin-bottom: 0;
}

.footer li:last-child {
  margin-right: 0;
}

.footer a {
  text-decoration: none;
  color: #6c757d;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.enclose {
  background-color: #f8f9fa;
}

/*----------------------------------------------------------*/
/*  EVENT DETAIL STYLES  */

.event-detail-container {
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.speakers-title {
  text-align: center;
}

.name-title {
  text-align: center;
  margin: 10px 0;
}

.related-events {
  margin-bottom: 15px;
  padding: 0 50px 0 50px;
}

.related-events-title {
  margin-top: 15px;
  text-align: center;
}

.speaker-img-container {
  text-align: center;
}

.speaker-img {
  max-width: 200px;
  border-radius: 50%;
}

.btn-join {
  margin: 15px 0 10px 0;
}